.body-login{
    background: url("../pic/1920x600_Test-Marokko-202324600.jpg")no-repeat center;
    background-size: cover;
    .circle{
        border-radius: 50%;
        margin-top: 10px;
    }
  
}
